/* Adds sprockets directives below:
 * require jquery.mobile
 *= require font/awesome
 *= require animations
 */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/inline-block";

$green: green;

.ui-controlgroup-controls {
    width: 100%;
		display: block;
}

div[data-role="controlgroup"] {
    width: 100%;
		display: block;
		margin: 0;
		padding: 0;
    a {
        margin: 0;
				@include inline-block;
        @include box-sizing(border-box);
				padding: 1.4em;
				text-align: center;
    }
    &#tracking-actions a {
        width: 33%;
        &#intervention-start {
            &, * {
                color: red;
            }
        }
        &#intervention-pause, &#intervention-resume {
            &, * {
                color: blue;
            }
        }
    }
    &#intervention-actions a {
        width: 50%;
        &#active-work {
            &, * {
                color: $green;
            }
            &.ui-btn-active {
                background: $green;
                &, * {
                    color: white;
                }     
            }
        }
    }
}

div[data-role="header"]  {
		height: 4em;
}

div[data-role="footer"]  {
		position: absolute;
		bottom: 0;
    div[data-role="controlgroup"]  {
        margin: 0;
        a {
            padding: 1.7em;
						@include border-radius(none);
        }
    }
}


.wide-image {
    max-width: 100%;
}

.clock {
    display: block;
    text-align: center;
    font-size: 320%;
    line-height: 1.4em;
    font-weight: bold;
}

#active-work-clock {
    color: green;
}

#login-errors, #error-label {
    color: red;
}

#debug {
    color: #777;
    font-family: monospace;
    font-size: small;
    line-height:1.4em;
    padding: 0.1em;
    background: #EEE;
    p {
        border-top: 1px solid #BBB;
				padding: 0.1em;
				margin: 0;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
    th, td {
        border: none;
        text-align: center;
    }
    th {
        color: #777;
    }
    td {
        border-top: 1px solid #AAA;
    }
}
