/ Start of first page: #one
#home{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Connexion
  .ui-content{"data-role" => "content"}
    = image_tag("ekylibre.png", class: "wide-image", alt: "start")
    %label#login-errors
    %form#login-form
      %div{"data-field" => "instance"}
        %label{for: "instance"} Instance :
        %input{name: "instance", placeholder: "mon-exploitation.ergolis.com", type: "text"}/
      %div{"data-field" => "email"}
        %label{for: "email"} Adresse e-mail :
        %input{name: "email", placeholder: "pierre.dupond@mail.tld", type: "email"}/
      %div{"data-field" => "password"}
        %label{for: "password"} Mot de passe :
        %input{name: "password", type: "password"}/
      %a.ui-btn-center{"data-role" => "button", "data-transition" => "slide-down", href: "#interventions"}
        %span.fa.fa-sign-in.fa-2x
