.buttons {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	box-pack: center;
}

#clockActiveMode {
	text-align: left;
	font-size: small;
	color: red;
}

#buttonStart {
	padding-left: 10;
	padding-right: 10;
}

#buttonPause {
	padding-left: 10px;
	padding-right: 10px;
}

#buttonResume {
	padding-left: 10px;
	padding-right: 10px;
}

#buttonFinish {
	padding-left: 10px;
	padding-right: 10px;
}

.logButton {
	text-align: right;
	color: blue;
}

#errorLogLabel {
	color: red;
}


#errorLabel {
	color: red;
}

table {
	border-collapse: collapse;
	width: 90%;
}
th, td {
	border: 1px solid black;
	width: 20%;
}
td {
	text-align: center;
}
caption {
	font-weight: bold
}

@media (min-width: 40em) {
	/* Affiche la ligne entête de la table et définit toutes les cellules à display: table-cell */
	.my-custom-breakpoint td, .my-custom-breakpoint th, .my-custom-breakpoint tbody th, .my-custom-breakpoint tbody td, .my-custom-breakpoint thead td, .my-custom-breakpoint thead th {
		display: table-cell;
		margin: 0;
	}
	/* Masque les labels dans chaque cellule */
	.my-custom-breakpoint td .ui-table-cell-label, .my-custom-breakpoint th .ui-table-cell-label {
		display: none;
	}
}
