.buttons {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	box-pack: center;
}

#clockActiveMode {
	text-align: left;
	font-size: small;
	color: red;
}

#buttonStart {
	width: 50px;
	height: 50px;
	padding-left: 10;
	padding-right: 10;
}

#buttonPause {
	width: 50px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#buttonResume {
	width: 50px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#buttonFinish {
	width: 50px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

table {
	border-collapse: collapse;
	width: 90%;
}
th, td {
	border: 1px solid black;
	width: 20%;
}
td {
	text-align: center;
}
caption {
	font-weight: bold
}